body {
    background-color: rgb(140, 208, 248);
    text-align: justify;
}

h1 {
    color: rgb(0, 132, 255);
    text-align: center;
    font-size: 80px;
}

p {
    color: rgb(255, 0, 0);
    text-align: justify;
    font-size: 30px;

}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}